.cache/
.cfg.git/
.config/Clementine/
.config/QtProject.conf
.config/Thunar/
.config/VirtualBox/
.config/chromium/
.config/coc/
.config/configstore/
.config/dconf/
.config/geany/
.config/gtk-3.0/
.config/htop/
.config/libfm/
.config/libvirt/
.config/menus/
.config/mimeinfo.cache
.config/neofetch/
.config/nnn/
.config/nvim/pack/
.config/pavucontrol.ini
.config/pcmanfm/
.config/pulse/
.config/spotify/
.config/transmission-daemon/
.config/volumeicon/
.config/xfce4/
.config/xoverrides
.gnome/
.gnupg/
.icons/
.local/
.mozilla/
.pki/
.ssh/
doc/
dsk/
dwn/
msc/
mus/
pic/
pub/
rep
tmp/
tor/
tpl/
vid/
