[submodule "st"]
	path = app/st
	url = ../st
[submodule "slock"]
	path = app/slock
	url = ../slock
[submodule "dmenu"]
	path = app/dmenu
	url = ../dmenu
[submodule "lemonbar-xft"]
	path = app/lemonbar-xft
	url = ../lemonbar-xft
[submodule "dwm"]
	path = app/dwm
	url = ../dwm
